@import '../Common.scss';

.match {
    border-bottom: 1px solid $light-grey;
    padding: 16px;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        border: 0;
    }

    .match-time {
        color: $dark-grey;
        font-size: .8rem;
        margin-bottom: 7px;
    }
}