@import '../Common.scss';

.participant {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-left: 4px solid $red;
    border-radius: 2px 0 0 2px;
    padding-left: 8px;

    &:last-child {
        margin-bottom: 0;
    }

    &.winner {
        border-left-color: $green;
        
        .points {
            font-weight: bold;
        }
    }
}